	body {
		background: #ddd;
	}
	.table-editable {
		position: relative;
	}

	.table-editable .glyphicon {
		font-size: 20px;
	}

	.del-row {
		color: #990000;
	}

	.del-row:hover {
		color: #ff0000;
	}

	.add-row, .del-row  {
		cursor: pointer;
		padding-right: 0;
	}

	.add-row {
		color: #007700;
	}

	.add-row:hover {
		color: #00BB00;
	}

	.container.content{
		margin: 1em auto;
		background: white;
		padding: 18px;
		border-radius: 8px;
		border-bottom: 6px solid #ccc;
		border-left: 1px solid #ccc;
	}

	.glyphicon {
		top: 5px;
	}

	.glyphicon-remove-sign,
	.glyphicon-ok-sign {
		position: relative;
		top: 8px;
		color:red;
		font-size: 2em;
	}
	
	.glyphicon-ok-sign {
		color: green;
	}

	#whitelist-div {
		margin-top: 2em;
	}
	
	#whitelist-cmds {
		margin-bottom: 1em;
	}

	@media (min-width: 1600px) {
		.container {
			width: 1400px;
		}
	}