{% extends "search/layout.html" %}

{% block content %}

<main>
	<div class="container card content">
		<h2>About</h2>
		<p>RAPpy is a search tool built on the popular Python Django web framework (hence the "py" in the name).
			It was developed to help extend the native capabilities of Aruba Activate and provide a way to easily search
			for basic Aruba device information.</p>
		<p>For more information visit <a href="https://github.com/bcbrookman/RAPpy">https://github.com/bcbrookman/RAPpy</a></p>
	</div>
</main>

{% endblock %}
