{% extends "layout.html" %}

{% block content %}
<main>
   <nav class="navbar navbar-default">
		<div class="container">
			<ul class="nav navbar-nav navbar-left" style="margin-left:-10px">
				<li> <a href="/">Home</a></li>
				<li> <a href="/search">Search</a></li>
				<li> <a href="/update">Update</a></li>
				<li class="active"> <a href="/bypass">Bypass</a></li>
				<li> <a href="/controllers">Controllers</a></li>
			</ul>
		</div>
	</nav>
    <div class="container content">
        <h1>MAC Auth Bypass</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <hr>
        <form class="form-group">
            <label for="mac">MAC Address:</label>
            <input class="form-control" id="mac">
            <label for="nuid">NUID:</label>
            <input class="form-control" id="nuid">
            <label for="device">Device Type:</label>
            <input class="form-control" id="device">
            <button class="btn" type="submit">Submit</button>
            <button id="export-btn" class="btn btn-primary">Export Results</button>
        </form>
    </div>
</main>
{% endblock %}